@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');



#video{
  height: 20rem !important;
}

.back-button:hover{
      cursor: pointer;
      color: #012970;
}

.login-body{
      background-color: white;
      background-image: url('../../Assets/img/flowerIcon.png');
      background-position: 130% -3rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 900px 123%;
      margin:8% 10% 5% 10%;
      height:70vh;
      background-color:white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display:flex;
}
.login-body>section{
      width:50%;
}
.login-body>aside{
      margin-top: 7rem;
      margin-left: 7rem;    
}

.login-body>aside>header>p{
      font-family: 'Cinzel', serif;
      color: #929494;
}

.login-body>aside>header>h1{
      color: #012970;
      font-family: 'Cinzel', serif;
      font-size: 3.2rem;
}


/* CSS */
.login-button {
      position: fixed;
      align-items: center;
      background-color: #FFFFFF;
      border: none;
      border-radius: .25rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      box-sizing: border-box;
      color: #012970;
      cursor: pointer;
      display: inline-flex;
      font-family: 'Cinzel', serif;
      font-size: 20px;
      font-weight: 800;
      justify-content: center;
      line-height: 1.25;
      min-height: 3rem;
      padding: 0rem 2rem;
      margin: 0rem;
      position: relative;
      text-decoration: none;
      transition: all 250ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      width: auto;
}

.login-button:hover,
.login-button:focus {
      border-color: rgba(0, 0, 0, 0.15);
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
      color: #012970;
}

.login-button:hover {
      transform: translateY(-1px);
}

.login-button:active {
      background-color: #F0F0F1;
      border-color: rgba(0, 0, 0, 0.15);
      box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
      color: rgba(0, 0, 0, 0.65);
      transform: translateY(0);
}
/*
=====
RESET STYLES
=====
*/

.field__input{ 
      --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
      
      background-color: transparent;
      border-radius: 0;
      border: none;
    
      -webkit-appearance: none;
      -moz-appearance: none;
    
      font-family: inherit;
      font-size: inherit;
    }
    
    .field__input:focus::-webkit-input-placeholder{
      color: var(--uiFieldPlaceholderColor);
    }
    
    .field__input:focus::-moz-placeholder{
      color: var(--uiFieldPlaceholderColor);
    }
    
    /*
    =====
    CORE STYLES
    =====
    */
    
    .field{
      --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
      --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
      --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);   
      --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1));
    
      display: var(--fieldDisplay, inline-flex);
      position: relative;
      font-size: var(--fieldFontSize, 1rem);
    }
    
    .field__input{
      box-sizing: border-box;
      width: var(--fieldWidth, 100%);
      height: var(--fieldHeight, 3rem);
      padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
      border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, .25));  
    }
    
    .field__input:focus{
      outline: none;
    }
    
    .field__input::-webkit-input-placeholder{
      opacity: 0;
      transition: opacity .2s ease-out;
    }
    
    .field__input::-moz-placeholder{
      opacity: 0;
      transition: opacity .2s ease-out;
    }
    
    .field__input:focus::-webkit-input-placeholder{
      opacity: 1;
      transition-delay: .2s;
    }
    
    .field__input:focus::-moz-placeholder{
      opacity: 1;
      transition-delay: .2s;
    }
    
    .field__label-wrap{
      box-sizing: border-box;
      pointer-events: none;
      cursor: text;
    
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    
    .field__label-wrap::after{
      content: "";
      box-sizing: border-box;
      width: 100%;
      height: 0;
      opacity: 0;
    
      position: absolute;
      bottom: 0;
      left: 0;
    }
    
    .field__input:focus ~ .field__label-wrap::after{
      opacity: 1;
    }
    
    .field__label{
      position: absolute;
      left: var(--uiFieldPaddingLeft);
      top: calc(50% - .5em);
    
      line-height: 1;
      font-size: var(--fieldHintFontSize, inherit);
    
      transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
      will-change: bottom, opacity, font-size;
    }
    
    .field__input:focus ~ .field__label-wrap .field__label,
    .field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
      --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);
    
      top: var(--fieldHintTopHover, .25rem);
    }
    
    /* 
    effect 1
    */
    
    .field_v1 .field__label-wrap::after{
      border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
      transition: opacity .2s ease-out;
      will-change: opacity;
    }
    
    /* 
    effect 2
    */
    
    .field_v2 .field__label-wrap{
      overflow: hidden;
    }
    
    .field_v2 .field__label-wrap::after{
      border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
      transform: translate3d(-105%, 0, 0);
      will-change: transform, opacity;
      transition: transform .285s ease-out .2s, opacity .2s ease-out .2s;
    }
    
    .field_v2 .field__input:focus ~ .field__label-wrap::after{
      transform: translate3d(0, 0, 0);
      transition-delay: 0;
    }
    
    /*
    effect 3
    */
    
    .field_v3 .field__label-wrap::after{
      border: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
      will-change: opacity, height;
      transition: height .2s ease-out, opacity .2s ease-out;
    }
    
    .field_v3 .field__input:focus ~ .field__label-wrap::after{
      height: 100%;
    }
    
    /*
    =====
    LEVEL 4. SETTINGS
    =====
    */
    
    .field{
      --fieldBorderColor: #012a70cb;
      --fieldBorderColorActive: #012970;
    }
    
    /*
    =====
    DEMO
    =====
    */
    
    body{
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
      margin: 0;
    
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
    
    .page{
      box-sizing: border-box;
      width: 100%;
      max-width: 480px;
      margin: auto;
      padding: 1rem;
    
      display: grid;
      grid-gap: 30px;
    }
    
    .linktr{
      order: -1;
      padding: 1.75rem;
      text-align: center;
    }
    
    .linktr__goal{
      background-color: rgb(209, 246, 255);
      color: rgb(8, 49, 112);
      box-shadow: rgb(8 49 112 / 24%) 0px 2px 8px 0px;
      border-radius: 2rem;
      padding: .5rem 1.25rem;
    }
    
    @media (min-width: 1024px){
      
      .linktr{
        position: absolute; 
        right: 1rem; 
        bottom: 1rem;
      }
    }
    
    .r-link{
        --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
        --uirLinkTextColor: var(--rLinkTextColor);
        --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
    
        display: var(--uirLinkDisplay) !important;
        color: var(--uirLinkTextColor) !important;
        text-decoration: var(--uirLinkTextDecoration) !important;
    }
    
    
footer>p>span{
      color: blue;
      text-decoration: underline;
}
   
footer>p>span:hover{
      cursor: pointer;
      color: rgb(83, 83, 243);
      text-decoration: none;
}
