#staff-card, #admin-card{
    padding: 1rem 2rem;
    font-family: "Poppins", sans-serif;
    color: #012970;
}

#staff-card  p{
    margin: 0rem;
    padding: 0rem;
}

.add-staff{
    overflow: hidden;
    padding: 0rem; 
    border-radius: 2rem;
    box-shadow: 0px 0 30px rgba(2, 27, 70, 0.247);
}
.add-staff:hover{
    cursor: pointer;
}
.add-staff:active{
    box-shadow: none;
    background-color: #012970;
    color: white;
}

.staff-info--hide> td>section>*{
    visibility: collapse;
    transition: visibility 0.4s ease-in-out;  
}
.staff-info--hide{
    pointer-events: none;
    height: 0rem;
    visibility: collapse;
    margin-bottom: 0rem !important; 
    transition: height 0.4s ease-in-out, visibility 0.3s ease-in-out, margin-bottom 0.4s ease-in-out;  
}
.staff-info--show{
    pointer-events: none;
    height: fit-content;
    transition: height 0.4s ease-in-out, visibility 0.4s ease-in-out, margin-bottom 0.4s ease-in-out;
}
.staff-avtar{
    justify-content: flex-start;
    width: 8rem;
}
.staff-info{
    text-align: start;
    padding-left: 6%;
}
.staff-info> aside{
    width: 100%;
    padding: 1.6rem 0rem 0rem 4rem;
}

.assignwork-btn, .resignwork-btn{
    border-radius: 2rem;
    color: white;
}

.assignwork-btn, .resignwork-btn, .editProfile-btn{
    pointer-events:visibleFill;
}

.assignwork-btn{
    background-color: green; 
}

.resignwork-btn{
    background-color: red;
    margin-top: 0.5rem !important;
}

.assignwork-btn:hover, .resignwork-btn:hover, .editProfile-btn:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

.assignwork-btn:hover{
    color: green;
}

.resignwork-btn:hover{
    color: red;
}


/*--------------------------------------------------------------
    # Register staff
--------------------------------------------------------------*/

.register-staff{
    color: #012970;
    font-weight: 600;
    padding: 0.6rem 2rem;
    /* background-color: #012970; */
}

.register-staff > main> section{
    /* background-color: aqua; */
    justify-content: space-between;
}

.register-staff > main> section>span{
    width: 45%;
}


/*--------------------------------------------------------------
    # Assign work
--------------------------------------------------------------*/

#assign-work-card{
    color: #012970;
    padding: 1rem 2rem;
    font-family: "Poppins", sans-serif;
}

#assign-work-card label{
    font-weight: 500;
}

.top-icons{
    /* display: flex; */
    overflow: hidden;
    padding: 0.5rem 2rem; 
    border-radius: 0.6rem;
    /* justify-content: flex-end; */
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}


#assign-work-card  p{
    margin: 0rem;
    padding: 0rem;
}

#assign-work-card h5{
    font-weight: bolder;
}

.top-nav{
    /* display: flex; */
    overflow: hidden;
    padding: 0.5rem 2rem; 
    border-radius: 0.6rem;
    /* justify-content: flex-end; */
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.box--shadow{
    margin-top: 2rem;
    overflow: hidden;
    padding: 0.5rem 2rem; 
    border-radius: 0.6rem;
    /* justify-content: flex-end; */
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}